{% extends 'base.html' %}
{% block content %}
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
        <div class="w-100">
            <h2 class="mb-5">Education</h2>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Upter University Popolare Di Roma</h3>
                    <div class="subheading mb-3">
                        Diploma in Italian Language
                        <br>
                        Italian Foods
                    </div>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">2016 - 2017</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Machakos University</h3>
                    <div class="subheading mb-3">
                        Food And Beverage Service
                        <br><em class="ml-3">And</em><br>
                        Sales and Production
                    </div>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">May 2012 - 2014</span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}