{% extends 'base.html' %}
{% block content %}
    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
        <div class="w-100">
            <h2 class="mb-5">Experience</h2>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Junior Web Designer</h3>
                    <div class="subheading mb-3">Shout! Media Productions</div>
                    <p>Podcasting operational change management inside of workflows to establish a framework. Taking
                        seamless key performance indicators offline to maximise the long tail. Keeping your eye on the
                        ball while performing a deep dive on the start-up mentality to derive convergence on
                        cross-platform integration.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">July 2010 - December 2011</span>
                </div>
            </div>

        </div>

    </section>
{% endblock %}