{% extends 'base.html' %}
{% block content %}
    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
        <div class="w-100">
            <h2 class="mb-5">Experience</h2>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">National Airport Services</h3>
                    <hr>
                    <p>
                        I served at the Airport services in the following sections
                    <li class="ml-5">
                        Production
                    </li>
                    <li class="ml-5">
                        Main Stores
                    </li>
                    <li class="ml-5">
                        Restaurant And Laundry Sections
                    </li>
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">5 Months duration</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Safari Park Hotel</h3>
                    <hr>
                    <p>
                        I did an outside catering for the Kenya @ 50 Celebrations
                    </p>
                </div>

            </div>
            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Generation Motel</h3>
                    <hr>
                    <p>
                        I participated in Food service And House keeping
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">One Month duration</span>
                </div>
            </div>

        </div>

    </section>
{% endblock %}