{% extends 'base.html' %}
{% block content %}
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        <div class="w-100">
            <h1 class="mb-0">
                Caroline Wacheke Ngugi
            </h1>
            <hr>
            <div class="subheading mb-5">
                <h7>
                    Mobile : +254745813502
                </h7>
                <hr>
                <h7>
                    Email : xtinsc@gmail.com
                </h7>
                <hr>
                <h7>
                    Address : 19360-00202, Nairobi
                </h7>
                <hr>
            </div>
            <p class="lead mb-5">
                I am experienced certificate holder in Hospitality course under Food Production and Sales service.
                <br>
                In addition i acquired skills on Italian language as well as the Italian Language.
            </p>
            <h5 class="mb-2">
                Objective
            </h5>
            <p>
                To provide and utilise my  acquired skills and strive to acquire more and better other people's skills.
            </p>
            <div class="social-icons">

            </div>
        </div>
    </section>
{% endblock %}