{% extends 'base.html' %}
{% block content %}
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
        <div class="w-100">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Languages</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item">
                    <i class="fab fa-html5">HTML 5</i>
                </li>
                <br>
                <li class="list-inline-item">
                    <i class="fab fa-css3-alt">CSS</i>
                </li>
                <br>
                <li class="list-inline-item">
                    <i class="fab fa-python-Flask-alt">Python Flask & Django</i>
                </li>
            </ul>
            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Web Development
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Debugging errors
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Cross Functional Teams
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Agile Development &amp; Scrum
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
